<p>
 <h2> Hi <%= @user.full_name %>, gentle reminder about borrowed book due date  </h2>
 <h3>Book Name: <%= @book.title %></h3>
 <h3>Book Borrowed date: <%= @loanedbook.loaned_date %></h3>
 <h3>Book Due date: <%= @loanedbook.due_date %></h3>
 <h3>Tomorow is the last date for retuning the borrowed book to avoid fine Rs.10 per day.</h3>
</p>
