<h2>Add Authors</h2>
<%= form_with scope: :author, url: admin_create_author_path(@author)  do |f| %>
   <p>
   <%= f.label :name%><br>
   <%= f.text_field :name %>
   </p>
    <p>
     <%= f.submit 'add' %>
   </p>
<% end %>
   
<h2>Add Book</h2>
