<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% @book.each_with_index do |b,index|  %>
      <% if b.loaned_books == [] %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= b.title %></td>
          <td><%= b.author.name %></td>
          <td><%= link_to "Borrow",{"controller"=>"home", "action"=>"request_to_borrow", id: b.id},method: :get, class: 'btn btn-primary'%></td>
        </tr>
         <% end %>
      <% end  %>
  </tbody>
</table>
