<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% count = 0 %>
  <% @book.each do |b|  %>
    
    <tr>
      <td><%= count += 1 %></td>
      <td><%= b.title %></td>
      <td><%= b.author.name %></td>
      <td><%= button_to "Loan", home_history_path %></td>
    </tr>
    <% end  %>
  </tbody>

</table>