<div class="row">
<div class="col">
    <canvas id="myChart" width="300" height="150"></canvas>
</div>
<div class="col">
    <canvas id="mChart" width="300" height="150"></canvas>
</div>

</div>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @relation.keys.map {|kk| kk.strftime("%A")}.to_json.html_safe %>,
        datasets: [{
            label: "Your Relatoion with us",
            data: <%= @relation.values.to_json.html_safe %>,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


var xValues = ["Loaned-Books", "Returned-Book", "Pending-book"];
var yValues = <%= @values.to_json.html_safe %>;
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
];

new Chart("mChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Current Status"
    }
  }
});
</script>



