<div class="row">
<%= line_chart @relation.group_by_day(:created_at, format: "%a").count, width: "600px", height: "250px" , colors: ['green','blue']%>
<div class="col">
    <canvas id="mChart"width="300" height="150"></canvas>
</div>

</div>
<script>



var xValues = ["Loaned-Books", "Returned-Book", "Pending-book"];
var yValues = <%= @values.to_json.html_safe %>;
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
];

new Chart("mChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Current Status"
    }
  }
});


</script>

