/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require gritter 

 */

 .nav-bottom {
   position: absolute;
   bottom: 0;
} 

#main-text{
  position: fixed;
  left: 950px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sidebar{
  position: relative;
  top: 0;
}


.log{
  position: fixed;
  right: 30px;
}
.log:hover{
  size: 10px;
  color: aliceblue;
}


#icons{
  color: grey ;
  padding-left: 11px;
  padding-top: 10px;
}
#icons:hover {
   color: rgb(28, 163, 28);
 }
#user_email{
  font-size: 15px;
}

#tableContainer{
  overflow-y: scroll;
  height: 50px;
}

#mychart{
  height: 800px;

}
.active a{
  font-size: 20px;
  color: goldenrod !important;
}

#powericon{
  color: grey;
}
#powericon:hover{
  color: gold;
}

.profile{
 vertical-align: middle;
 width: 50px;
 height: 50px;
 border-radius: 50%;
}
.trash{
  color: gray;
  padding-top: 10px;
  padding-left: 15px;
}
.trash:hover{
  color: red;
}

.add-icon{
  height: 30px;
}
#con-1{
  width: 100vw;
  position:relative ;
  right: 0;
  top: 0;
}
.con-2{
  font-weight: 600;
  top: 15%;
  left: 75%;
  position: absolute;
}
.custom_colors{
  background-color: rgb(213, 193, 193);
}


.custom_gritter {
  background-color: green;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}