<td><%= @author.id %></td>
<td >
<div class= "row">
  <%= form_with model: @author, url: ajax_edit_path, method: :patch, local: true do |f| %>
    <div class= "row">
      <div class= "col-md-3">
        <%= f.text_field :name,placeholder: 'Add author', class:"form-control ", id:'author_name' %>
      </div> 
      <br>   
  <% end %>
</div>
</td>
<td>
  <div class= "col-md-3" id='icon_hight'>
  <i class="fa fa-check" id='update_btn' aria-hidden="true"></i>
  </div>
</td>
<td>
  <div class= "col-md-3" id='icon_hight'>
    <i class="fa fa-times" id='cancel_btn' aria-hidden="true"></i>
  </div>
</td>


