<%= javascript_include_tag 'author', "data-turbo-track": "reload" %>

<h2>Add Authors</h2>

<%= form_with  url:create_author_path do |f| %>
  <br>
  <div class= "row">
    <div class= "col-md-3">
      <%= f.text_field :name, placeholder: 'Name', class:"form-control", id:'auth_name'%>
    </div>  
    <div class= "col-md-3">
      <button class="btn btn-secondary btn">Add</button>
    </div>    
  </div>
<% end %>
<br>

<table class="table table-striped table-bordered table-md overflow-auto" style="height:100px" id = "author_row">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Author</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  <% @author.each do |author|  %>
  <%= render partial:'author_row', locals: {author: author} %>
  <% end  %>

  </tbody>
</table>