<h1>Edit author</h1>
<%= form_with model: @author, url: edit_author_path(@author), method: :patch, local: true do |f| %>
  <br>
  <div class= "row">
    <div class= "col-md-1">
      <%= f.label 'name : '%>
    </div>
    <div class= "col-md-3">
      <%= f.text_field :name,placeholder: 'Add author', class:"form-control " %>
    </div>  
    <div class= "col-md-3">
      <%= f.submit 'add', class:"btn btn-secondary" %>
    </div>    
  </div>
<% end %>
