<nav class="navbar navbar-light bg-dark" id="con-1">
    <div class="container-fluid" >
    <strong id="main-text" style="color:white">
    LIB - MANAGE
    </strong>
    <span class="log">
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do%>
        <i class="fa fa-power-off" aria-hidden="true" id=powericon></i>
    <% end %>
    </span>
    <br><br>
    </div>
</nav>